.portadaIndex {
  height: 600px; /* 750 - 20% */
}
.boton {
  display: flex;
  justify-content: center;
  width: 20%; /* 25% - 20% */
}
.video {
  width: 100%; /* 100% - 20% */
  height: 13.6rem; /* 17rem - 20% */
  display: block;
  object-fit: fill;
  margin: 0;
  padding: 0;
  position: relative;
  left: 0px; /* No cambio en este caso */
}
.btnCards {
  color: white;
  background-color: rgb(203, 0, 0);
  transition: transform 0.3s ease;
}
.btnCards:hover {
  color: white;
  background-color: rgb(203, 0, 0);
  transform: scale(1.1);
}



