.portadaIndex {
  height: 600px; /* 750 - 20% */
}
.btnCards {
  color: white;
  background-color: rgb(203, 0, 0);
  transition: transform 0.3s ease;
}
.btnCards:hover {
  color: white;
  background-color: rgb(203, 0, 0);
  transform: scale(1.1);
}



