
.accordion {
  width: 640px !important;
  padding-bottom: 24px!important;
  padding-top: 24px !important;
}

:hover .accordion-button {
  color: black !important;
}

.contenedorUno {
  display: flex !important;
  justify-content: space-between !important;
}

.portadaBs{
  width: 100% !important;
  height: 500px !important;
  display: block !important;
  object-fit: fill !important;
  margin: 0 !important;
  padding: 0 !important;
  position: relative !important;
  left: 0px !important;
}

h4 {
  font-size: 21px !important;
  color: red !important;
}

.formulario {
  width: 400px !important;
  padding-bottom: 24px !important;
}

.accordion-body {
  display: flex !important;
  flex-direction: column !important;
}

p {
  font-size: 11px !important;
}

.textoIntro {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.fotoSpon {
  width: 320px !important;
  height: 120px !important;
  padding-bottom: 2.6px !important;
}

