.telefono {
    height: 80px; /* '100px' - 20% */
    width: 200px; /* '250px' - 20% */
}

.logoFooter {
    height: 10.8rem; 
    width: 24.8rem; 
}
@media (max-width:409px){
    .logoFooter{
        width: 90%;
        height: 10.8rem;
        margin: auto;
    }
}
footer {
    position: relative;
    top: 2.4rem; /* 3rem - 20% */
    bottom: 0px;
    background-color: red;
    padding-top: 2.64rem; /* 3.3rem - 20% */
    padding-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
}

.iconos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        ". telefono ."
        ". redes .";
}

.logofooter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textofooter p {
    font-size: 12.8px; /* 16px - 20% */
    padding-bottom: 0px;
    color: black;
}

.textofooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textofooter p:hover {
    font-weight: bold;
}

.iconosRedes {
    display: flex;
    grid-area: redes;
    justify-content: space-around;
}

.iconosRedes a {
    color: black;
}

.telefono {
    grid-area: telefono;
}

.textofooter a {
    text-decoration-line: none;
}

.iconosRedes:hover {
    color: yellow;
}

.derechos {
    background-color: rgb(153, 0, 0); /* Adjusted color value for visual effect */
    width: 100%;
    height: 2.56rem; /* 3.2rem - 20% */
}

.derechos p {
    color: black;
}
