.telefono{
    height: '100px';
     width:'250px';
}
.logoFooter{
    height: 13.5rem; 
    width:31rem;
}
footer{
    position: relative;
    top: 5rem;
    bottom: 0px;
    background-color: red;
    padding-top: 3.3rem;
    padding-bottom: 0px;
    font-family: 'Montserrat', sans-serif; 
}
.iconos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    ". telefono ."
    ". redes .";
    
}
.logofooter{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.textofooter p{
    font-size: 16px;
    padding-bottom: 0px;
    color: black;
}
.textofooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.textofooter p :hover{
    font-weight: bold;
}
.iconosRedes{
    display:flex;
    grid-area: redes;
    justify-content: space-around;
}
.iconosRedes a{
    color: black;
}
.telefono{
    grid-area: telefono;
}
.textofooter a{
    text-decoration-line: none;
}
.iconosRedes :hover{
    color: yellow;
}
.derechos{
    background-color: rgb(191, 0, 0);
    width: 100%;
    height: 3.2rem;
}
.derechos p{
    color: black;
}
