
.titulo{
    color: red;
}
 :hover .accordion-button{
  color: black;
}
.contenedorUno{
  display: flex;
  justify-content: space-between;
}
.portadaBs{
  width: 100% !important;
  height: 500px !important;
  display: block !important;
  object-fit: fill !important;
  margin: 0 !important;
  padding: 0 !important;
  position: relative !important;
  left: 0px !important;
}
.fotosCamping{
  width: 33rem;
  height: 20rem;
}
h4{
  font-size: 26px;
  color: red;
}
.formulario{
  width: 500px;
  height: 100px !important;
}
.textoIntro{
  padding-left: 100px;
  padding-right: 100px;
}
.container{
  margin-left: 8rem;
}
.mainSports{
  margin-bottom: 20rem;
}
@media(max-width:767px){
  .mainSports{
    margin-bottom: 30crem !important;
  }
}